In [1]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 
          'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 
          'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 
          'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 
          'DC': 'District of Columbia', 'VT': 'Vermont', 
          'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 
          'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 
          'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 
          'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 
          'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 
          'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 
          'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 
          'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 
          'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 
          'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [2]:
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind

In [3]:
state=[]
region=[]
with open('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/university_towns.txt','r',encoding='utf-8') as unilist:

    #★readlines(): makes list
    a=unilist.readlines()
    r=re.compile(r".*\s\(.*")
    r1=re.compile(r".*\:")
    r2=re.compile(r".*\,")
    for i in a:
        i=re.sub(r"\[.*\]","",i)
        i=re.sub(r"\n","",i)
        match=r.match(i)
        match1=r1.match(i)
        match2=r2.match(i)
        if match or match1 or match2:
            i=i.replace('and formerly Pomona College',"")
            i=i.replace(', Bethany Lutheran College','')
            i=re.sub(r"\.$","",i)
            i=re.sub(r"\(.*\)","",i)
            i=re.sub(r"\(.*","",i)
            region.append(i.strip())
            
            # temp: ★make storage(incredible method)★
            state.append(temp.strip())
        else:
            temp=i

    
df=pd.DataFrame(columns=('State','RegionName'))
df['State']=state
df['RegionName']=region
df

         State     RegionName
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...            ...
512  Wisconsin    River Falls
513  Wisconsin  Stevens Point
514  Wisconsin       Waukesha
515  Wisconsin     Whitewater
516    Wyoming        Laramie

[517 rows x 2 columns]

In [4]:
count=0
for j, row in df.iterrows():
        count=count+1
        a=df.at[j,'State']
        print(count,a)
#print(l)

1 Alabama
2 Alabama
3 Alabama
4 Alabama
5 Alabama
6 Alabama
7 Alabama
8 Alabama
9 Alaska
10 Arizona
11 Arizona
12 Arizona
13 Arkansas
14 Arkansas
15 Arkansas
16 Arkansas
17 Arkansas
18 Arkansas
19 Arkansas
20 Arkansas
21 California
22 California
23 California
24 California
25 California
26 California
27 California
28 California
29 California
30 California
31 California
32 California
33 California
34 California
35 California
36 California
37 California
38 California
39 California
40 California
41 California
42 California
43 California
44 California
45 California
46 Colorado
47 Colorado
48 Colorado
49 Colorado
50 Colorado
51 Colorado
52 Colorado
53 Colorado
54 Colorado
55 Connecticut
56 Connecticut
57 Connecticut
58 Connecticut
59 Connecticut
60 Connecticut
61 Connecticut
62 Delaware
63 Delaware
64 Florida
65 Florida
66 Florida
67 Florida
68 Florida
69 Florida
70 Florida
71 Florida
72 Florida
73 Florida
74 Florida
75 Florida
76 Georgia
77 Georgia
78 Georgia
79 Georgia
80 Georgia
81 Georgia
82 Georgia
83 Georgia
84 Georgia
85 Georgia
86 Georgia
87 Georgia
88 Georgia
89 Georgia
90 Georgia
91 Georgia
92 Hawaii
93 Idaho
94 Idaho
95 Idaho
96 Illinois
97 Illinois
98 Illinois
99 Illinois
100 Illinois
101 Illinois
102 Illinois
103 Illinois
104 Illinois
105 Illinois
106 Indiana
107 Indiana
108 Indiana
109 Indiana
110 Indiana
111 Indiana
112 Indiana
113 Indiana
114 Indiana
115 Indiana
116 Indiana
117 Indiana
118 Indiana
119 Iowa
120 Iowa
121 Iowa
122 Iowa
123 Iowa
124 Iowa
125 Iowa
126 Iowa
127 Iowa
128 Iowa
129 Iowa
130 Iowa
131 Iowa
132 Kansas
133 Kansas
134 Kansas
135 Kansas
136 Kansas
137 Kansas
138 Kentucky
139 Kentucky
140 Kentucky
141 Kentucky
142 Kentucky
143 Kentucky
144 Kentucky
145 Kentucky
146 Kentucky
147 Kentucky
148 Kentucky
149 Louisiana
150 Louisiana
151 Louisiana
152 Louisiana
153 Louisiana
154 Louisiana
155 Louisiana
156 Louisiana
157 Maine
158 Maine
159 Maine
160 Maine
161 Maine
162 Maine
163 Maine
164 Maine
165 Maine
166 Maryland
167 Maryland
168 Maryland
169 Maryland
170 Maryland
171 Maryland
172 Maryland
173 Maryland
174 Maryland
175 Maryland
176 Massachusetts
177 Massachusetts
178 Massachusetts
179 Massachusetts
180 Massachusetts
181 Massachusetts
182 Massachusetts
183 Massachusetts
184 Massachusetts
185 Massachusetts
186 Massachusetts
187 Massachusetts
188 Massachusetts
189 Massachusetts
190 Massachusetts
191 Massachusetts
192 Massachusetts
193 Massachusetts
194 Massachusetts
195 Michigan
196 Michigan
197 Michigan
198 Michigan
199 Michigan
200 Michigan
201 Michigan
202 Michigan
203 Michigan
204 Michigan
205 Michigan
206 Michigan
207 Michigan
208 Michigan
209 Michigan
210 Michigan
211 Michigan
212 Michigan
213 Michigan
214 Michigan
215 Minnesota
216 Minnesota
217 Minnesota
218 Minnesota
219 Minnesota
220 Minnesota
221 Minnesota
222 Minnesota
223 Minnesota
224 Minnesota
225 Minnesota
226 Minnesota
227 Minnesota
228 Minnesota
229 Mississippi
230 Mississippi
231 Mississippi
232 Mississippi
233 Mississippi
234 Missouri
235 Missouri
236 Missouri
237 Missouri
238 Missouri
239 Missouri
240 Missouri
241 Missouri
242 Missouri
243 Montana
244 Montana
245 Montana
246 Nebraska
247 Nebraska
248 Nebraska
249 Nebraska
250 Nebraska
251 Nebraska
252 Nebraska
253 Nevada
254 Nevada
255 New Hampshire
256 New Hampshire
257 New Hampshire
258 New Hampshire
259 New Hampshire
260 New Hampshire
261 New Hampshire
262 New Jersey
263 New Jersey
264 New Jersey
265 New Jersey
266 New Jersey
267 New Jersey
268 New Jersey
269 New Jersey
270 New Jersey
271 New Jersey
272 New Mexico
273 New Mexico
274 New Mexico
275 New Mexico
276 New Mexico
277 New York
278 New York
279 New York
280 New York
281 New York
282 New York
283 New York
284 New York
285 New York
286 New York
287 New York
288 New York
289 New York
290 New York
291 New York
292 New York
293 New York
294 New York
295 New York
296 New York
297 New York
298 New York
299 New York
300 New York
301 New York
302 New York
303 New York
304 New York
305 New York
306 New York
307 New York
308 North Carolina
309 North Carolina
310 North Carolina
311 North Carolina
312 North Carolina
313 North Carolina
314 North Carolina
315 North Carolina
316 North Carolina
317 North Carolina
318 North Carolina
319 North Carolina
320 North Carolina
321 North Carolina
322 North Carolina
323 North Carolina
324 North Carolina
325 North Carolina
326 North Dakota
327 North Dakota
328 Ohio
329 Ohio
330 Ohio
331 Ohio
332 Ohio
333 Ohio
334 Ohio
335 Ohio
336 Ohio
337 Ohio
338 Ohio
339 Ohio
340 Ohio
341 Ohio
342 Ohio
343 Ohio
344 Ohio
345 Ohio
346 Ohio
347 Ohio
348 Ohio
349 Ohio
350 Oklahoma
351 Oklahoma
352 Oklahoma
353 Oklahoma
354 Oklahoma
355 Oklahoma
356 Oklahoma
357 Oklahoma
358 Oklahoma
359 Oklahoma
360 Oklahoma
361 Oregon
362 Oregon
363 Oregon
364 Oregon
365 Oregon
366 Oregon
367 Oregon
368 Oregon
369 Oregon
370 Oregon
371 Pennsylvania
372 Pennsylvania
373 Pennsylvania
374 Pennsylvania
375 Pennsylvania
376 Pennsylvania
377 Pennsylvania
378 Pennsylvania
379 Pennsylvania
380 Pennsylvania
381 Pennsylvania
382 Pennsylvania
383 Pennsylvania
384 Pennsylvania
385 Pennsylvania
386 Pennsylvania
387 Pennsylvania
388 Pennsylvania
389 Pennsylvania
390 Pennsylvania
391 Pennsylvania
392 Pennsylvania
393 Pennsylvania
394 Pennsylvania
395 Pennsylvania
396 Pennsylvania
397 Pennsylvania
398 Pennsylvania
399 Pennsylvania
400 Pennsylvania
401 Pennsylvania
402 Pennsylvania
403 Pennsylvania
404 Pennsylvania
405 Pennsylvania
406 Pennsylvania
407 Pennsylvania
408 Pennsylvania
409 Pennsylvania
410 Pennsylvania
411 Pennsylvania
412 Pennsylvania
413 Pennsylvania
414 Rhode Island
415 Rhode Island
416 South Carolina
417 South Carolina
418 South Carolina
419 South Carolina
420 South Carolina
421 South Carolina
422 South Carolina
423 South Carolina
424 South Carolina
425 South Carolina
426 South Carolina
427 South Dakota
428 South Dakota
429 South Dakota
430 South Dakota
431 Tennessee
432 Tennessee
433 Tennessee
434 Tennessee
435 Tennessee
436 Tennessee
437 Tennessee
438 Tennessee
439 Tennessee
440 Tennessee
441 Tennessee
442 Tennessee
443 Tennessee
444 Texas
445 Texas
446 Texas
447 Texas
448 Texas
449 Texas
450 Texas
451 Texas
452 Texas
453 Texas
454 Texas
455 Texas
456 Texas
457 Texas
458 Texas
459 Texas
460 Texas
461 Texas
462 Texas
463 Texas
464 Texas
465 Texas
466 Utah
467 Utah
468 Utah
469 Utah
470 Utah
471 Utah
472 Vermont
473 Vermont
474 Vermont
475 Vermont
476 Vermont
477 Vermont
478 Virginia
479 Virginia
480 Virginia
481 Virginia
482 Virginia
483 Virginia
484 Virginia
485 Virginia
486 Virginia
487 Virginia
488 Virginia
489 Virginia
490 Washington
491 Washington
492 Washington
493 Washington
494 Washington
495 West Virginia
496 West Virginia
497 West Virginia
498 West Virginia
499 West Virginia
500 West Virginia
501 West Virginia
502 West Virginia
503 West Virginia
504 Wisconsin
505 Wisconsin
506 Wisconsin
507 Wisconsin
508 Wisconsin
509 Wisconsin
510 Wisconsin
511 Wisconsin
512 Wisconsin
513 Wisconsin
514 Wisconsin
515 Wisconsin
516 Wisconsin
517 Wyoming

In [5]:
#Q2. get_recession_start

In [6]:
start=pd.read_excel('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/gdplev.xls',skiprows=2)
start=start.drop(['Annual','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 7'],axis=1)
start.rename(columns={'Unnamed: 5':'GDP in billions of current dollars','Unnamed: 6':'GDP in billions of chained 2009 dollars'},inplace=True)
start=start.dropna(axis=0)
start=start.set_index('Quarterly')
start=start.loc['2000q1':]
start

,GDP in billions of current dollars,GDP in billions of chained 2009 dollars
Quarterly,,
2000q1,10031,12359.1
2000q2,10278.3,12592.5
2000q3,10357.4,12607.7
2000q4,10472.3,12679.3
2001q1,10508.1,12643.3
...,...,...
2015q2,17998.3,16374.2
2015q3,18141.9,16454.9
2015q4,18222.8,16490.7
2016q1,18281.6,16525
2016q2,18450.1,16583.1

In [7]:
l=[]
for j, row in start.iterrows():
 
    a=start.at[j,'GDP in billions of current dollars']
    l.append(a)
print(l)

[10031, 10278.3, 10357.4, 10472.3, 10508.1, 10638.4, 10639.5, 10701.3, 10834.4, 10934.8, 11037.1, 11103.8, 11230.1, 11370.7, 11625.1, 11816.8, 11988.4, 12181.4, 12367.7, 12562.2, 12813.7, 12974.1, 13205.4, 13381.6, 13648.9, 13799.8, 13908.5, 14066.4, 14233.2, 14422.3, 14569.7, 14685.3, 14668.4, 14813, 14843, 14549.9, 14383.9, 14340.4, 14384.1, 14566.5, 14681.1, 14888.6, 15057.7, 15230.2, 15238.4, 15460.9, 15587.1, 15785.3, 15973.9, 16121.9, 16227.9, 16297.3, 16475.4, 16541.4, 16749.3, 16999.9, 17025.2, 17285.6, 17569.4, 17692.2, 17783.6, 17998.3, 18141.9, 18222.8, 18281.6, 18450.1]

In [8]:
temp=0
count=0
for k in l:
    if k>temp:
        temp=k
        count=count+1        
    else:
        temp=k
        if l[count+1]>temp:
            continue
        else:
            count=count
            #print(l[count])
            break
            
start=start.reset_index()
print(start.loc[count,'Quarterly'])

2008q3

In [9]:
#Q3. get_recession_end()

In [10]:
temp=0
count=0
for k in l:
    if k>temp:
        temp=k
        count=count+1        
    else:
        temp=k
        if l[count+1]>temp:
            continue
        else:
            temp=k
            count=count+1
            if l[count+1]>temp:
                count=count+1
                if l[count+1]>temp:
                    print(l[count+1])
                    break

start=start.reset_index()
print(start.loc[count+1,'Quarterly'])

14566.5
2009q4

In [ ]:
'''            
start=start.reset_index()
print(start.loc[count,'Quarterly'])
#b=str(b)
#start=start.reset_index()
#start.loc[count,'Quarterly']
'''
'''
#리스트3개에서 값 비교/ 롤리 pop()
1>2>3
1<2>3
else:
    pop(0)
'''

In [11]:
#Q4. get_recession_bottom()

In [12]:
temp=0
count=0
reccessionlist=[]
for k in l:
    if k>temp:
        temp=k
        count=count+1        
    else:
        temp=k
        if l[count+1]>temp:
            continue
        else:
            count=count+1
            #print(count)
            reccessionlist.append(count)

print(reccessionlist)
largest=max(reccessionlist)

print(largest)

start=start.reset_index()
print(start.loc[largest,'Quarterly'])

[35, 36, 37]
37
2009q2

In [13]:
#Q5. convert_housing_data_to_quarters()

In [ ]:
#I just want to talk to myself that you did great job because you try to do as possible as you can
'''
convert=pd.read_csv('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/City_Zhvi_AllHomes.csv')
#Multi Indexing
df1=convert.loc[:,'RegionName':'SizeRank']
df2=convert.loc[:,'2000-01':'2016-08']
df2=df2.astype(np.float64)
map_dict={'2000-01':'2000q1','2000-02':'2000q1','2000-03':'2000q1',
          '2000-04':'2000q2','2000-05':'2000q2','2000-06':'2000q2',
          '2000-07':'2000q3','2000-08':'2000q3','2000-09':'2000q3',
          '2000-10':'2000q4','2000-11':'2000q4','2000-12':'2000q4',
          
          '2001-01':'2001q1','2001-02':'2001q1','2001-03':'2001q1',
          '2001-04':'2001q2','2001-05':'2001q2','2001-06':'2001q2',
          '2001-07':'2001q3','2001-08':'2001q3','2001-09':'2001q3',
          '2001-10':'2001q4','2001-11':'2001q4','2001-12':'2001q4',
          
          '2002-01':'2002q1','2002-02':'2002q1','2002-03':'2002q1',
          '2002-04':'2002q2','2002-05':'2002q2','2002-06':'2002q2',
          '2002-07':'2002q3','2002-08':'2002q3','2002-09':'2002q3',
          '2002-10':'2002q4','2002-11':'2002q4','2002-12':'2002q4',
    
          '2003-01':'2003q1','2003-02':'2003q1','2003-03':'2003q1',
          '2003-04':'2003q2','2003-05':'2003q2','2003-06':'2003q2',
          '2003-07':'2003q3','2003-08':'2003q3','2003-09':'2003q3',
          '2003-10':'2003q4','2003-11':'2003q4','2003-12':'2003q4',
          
          '2004-01':'2004q1','2004-02':'2004q1','2004-03':'2004q1',
          '2004-04':'2004q2','2004-05':'2004q2','2004-06':'2004q2',
          '2004-07':'2004q3','2004-08':'2004q3','2004-09':'2004q3',
          '2004-10':'2004q4','2004-11':'2004q4','2004-12':'2004q4',
        
          '2005-01':'2005q1','2005-02':'2005q1','2005-03':'2005q1',
          '2005-04':'2005q2','2005-05':'2005q2','2005-06':'2005q2',
          '2005-07':'2005q3','2005-08':'2005q3','2005-09':'2005q3',
          '2005-10':'2005q4','2005-11':'2005q4','2005-12':'2005q4',
    
          '2006-01':'2006q1','2006-02':'2006q1','2006-03':'2006q1',
          '2006-04':'2006q2','2006-05':'2006q2','2006-06':'2006q2',
          '2006-07':'2006q3','2006-08':'2006q3','2006-09':'2006q3',
          '2006-10':'2006q4','2006-11':'2006q4','2006-12':'2006q4',
          
          '2007-01':'2007q1','2007-02':'2007q1','2007-03':'2007q1',
          '2007-04':'2007q2','2007-05':'2007q2','2007-06':'2007q2',
          '2007-07':'2007q3','2007-08':'2007q3','2007-09':'2007q3',
          '2007-10':'2007q4','2007-11':'2007q4','2007-12':'2007q4',
          
          '2008-01':'2008q1','2008-02':'2008q1','2008-03':'2008q1',
          '2008-04':'2008q2','2008-05':'2008q2','2008-06':'2008q2',
          '2008-07':'2008q3','2008-08':'2008q3','2008-09':'2008q3',
          '2008-10':'2008q4','2008-11':'2008q4','2008-12':'2008q4',
          
          '2009-01':'2009q1','2009-02':'2009q1','2009-03':'2009q1',
          '2009-04':'2009q2','2009-05':'2009q2','2009-06':'2009q2',
          '2009-07':'2009q3','2009-08':'2009q3','2009-09':'2009q3',
          '2009-10':'2009q4','2009-11':'2009q4','2009-12':'2009q4',
          
          '2010-01':'2010q1','2010-02':'2010q1','2010-03':'2010q1',
          '2010-04':'2010q2','2010-05':'2010q2','2010-06':'2010q2',
          '2010-07':'2010q3','2010-08':'2010q3','2010-09':'2010q3',
          '2010-10':'2010q4','2010-11':'2010q4','2010-12':'2010q4',
          
          '2011-01':'2011q1','2011-02':'2011q1','2011-03':'2011q1',
          '2011-04':'2011q2','2011-05':'2011q2','2011-06':'2011q2',
          '2011-07':'2011q3','2011-08':'2011q3','2011-09':'2011q3',
          '2011-10':'2011q4','2011-11':'2011q4','2011-12':'2011q4',
        
          '2012-01':'2012q1','2012-02':'2012q1','2012-03':'2012q1',
          '2012-04':'2012q2','2012-05':'2012q2','2012-06':'2012q2',
          '2012-07':'2012q3','2012-08':'2012q3','2012-09':'2012q3',
          '2012-10':'2012q4','2012-11':'2012q4','2012-12':'2012q4',
          
          '2013-01':'2013q1','2013-02':'2013q1','2013-03':'2013q1',
          '2013-04':'2013q2','2013-05':'2013q2','2013-06':'2013q2',
          '2013-07':'2013q3','2013-08':'2013q3','2013-09':'2013q3',
          '2013-10':'2013q4','2013-11':'2013q4','2013-12':'2013q4',
          
          '2014-01':'2014q1','2014-02':'2014q1','2014-03':'2014q1',
          '2014-04':'2014q2','2014-05':'2014q2','2014-06':'2014q2',
          '2014-07':'2014q3','2014-08':'2014q3','2014-09':'2014q3',
          '2014-10':'2014q4','2014-11':'2014q4','2014-12':'2014q4',
          
          ',2015-01':'2015q1','2015-02':'2015q1','2015-03':'2015q1',
          '2015-04':'2015q2','2015-05':'2015q2','2015-06':'2015q2',
          '2015-07':'2015q3','2015-08':'2015q3','2015-09':'2015q3',
          '2015-10':'2015q4','2015-11':'2015q4','2015-12':'2015q4',
          
          '2016-01':'2016q1','2016-02':'2016q1','2016-03':'2016q1',
          '2016-04':'2016q2','2016-05':'2016q2','2016-06':'2016q2',
          '2016-07':'2016q3','2016-08':'2016q3'  
         }
df3=pd.merge(df1,df2,how='inner',left_index=True,right_index=True)
df3=df3.set_index(['RegionName','State'])
df3=df3.fillna(0)
df3=df3.groupby(map_dict,axis=1).sum()
df3
'''

In [14]:
convert=pd.read_csv('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/City_Zhvi_AllHomes.csv')
df1=convert.loc[:,'RegionName':'State']
df1['State'].replace(to_replace=states, inplace=True)
    
df2=convert.loc[:,'2000-01':'2016-08']
df2.columns=pd.to_datetime(df2.columns)
df2=df2.resample(rule='Q',axis=1).mean()
df2.columns=['2000q1', '2000q2', '2000q3', '2000q4', '2001q1', '2001q2',
             '2001q3', '2001q4', '2002q1', '2002q2', '2002q3', '2002q4',
             '2003q1', '2003q2', '2003q3', '2003q4', '2004q1', '2004q2',
             '2004q3', '2004q4', '2005q1', '2005q2', '2005q3', '2005q4',
             '2006q1', '2006q2', '2006q3', '2006q4', '2007q1', '2007q2',
             '2007q3', '2007q4', '2008q1', '2008q2', '2008q3', '2008q4',
             '2009q1', '2009q2', '2009q3', '2009q4', '2010q1', '2010q2',
             '2010q3', '2010q4', '2011q1', '2011q2', '2011q3', '2011q4',
             '2012q1', '2012q2', '2012q3', '2012q4', '2013q1', '2013q2',
             '2013q3', '2013q4', '2014q1', '2014q2', '2014q3', '2014q4',
             '2015q1', '2015q2', '2015q3', '2015q4', '2016q1', '2016q2',
             '2016q3']
    
df3=pd.merge(df1,df2,how='inner',left_index=True,right_index=True)
df3=df3.set_index(['State','RegionName'])
df3

,,2000q1,2000q2,2000q3,2000q4,2001q1,2001q2,2001q3,2001q4,2002q1,2002q2,...,2014q2,2014q3,2014q4,2015q1,2015q2,2015q3,2015q4,2016q1,2016q2,2016q3
State,RegionName,,,,,,,,,,,,,,,,,,,,,
New York,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,515466.666667,522800.000000,528066.666667,532266.666667,540800.000000,557200.000000,572833.333333,582866.666667,591633.333333,587200.0
California,Los Angeles,207066.666667,214466.666667,220966.666667,226166.666667,233000.000000,239100.000000,245066.666667,253033.333333,261966.666667,272700.000000,...,498033.333333,509066.666667,518866.666667,528800.000000,538166.666667,547266.666667,557733.333333,566033.333333,577466.666667,584050.0
Illinois,Chicago,138400.000000,143633.333333,147866.666667,152133.333333,156933.333333,161800.000000,166400.000000,170433.333333,175500.000000,177566.666667,...,192633.333333,195766.666667,201266.666667,201066.666667,206033.333333,208300.000000,207900.000000,206066.666667,208200.000000,212000.0
Pennsylvania,Philadelphia,53000.000000,53633.333333,54133.333333,54700.000000,55333.333333,55533.333333,56266.666667,57533.333333,59133.333333,60733.333333,...,113733.333333,115300.000000,115666.666667,116200.000000,117966.666667,121233.333333,122200.000000,123433.333333,126933.333333,128700.0
Arizona,Phoenix,111833.333333,114366.666667,116000.000000,117400.000000,119600.000000,121566.666667,122700.000000,124300.000000,126533.333333,128366.666667,...,164266.666667,165366.666667,168500.000000,171533.333333,174166.666667,179066.666667,183833.333333,187900.000000,191433.333333,195200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wisconsin,Town of Wrightstown,101766.666667,105400.000000,111366.666667,114866.666667,125966.666667,129900.000000,129900.000000,129433.333333,131900.000000,134200.000000,...,144866.666667,146866.666667,149233.333333,148666.666667,149333.333333,149866.666667,149933.333333,149833.333333,151266.666667,155000.0
New York,Urbana,79200.000000,81666.666667,91700.000000,98366.666667,94866.666667,98533.333333,102966.666667,98033.333333,93966.666667,94600.000000,...,132133.333333,137033.333333,140066.666667,141700.000000,137866.666667,136466.666667,136166.666667,138966.666667,144200.000000,143000.0
Wisconsin,New Denmark,114566.666667,119266.666667,126066.666667,131966.666667,143800.000000,146966.666667,148366.666667,149166.666667,153133.333333,156733.333333,...,174566.666667,181166.666667,186166.666667,187600.000000,188666.666667,188433.333333,188933.333333,191066.666667,192833.333333,197600.0
California,Angels,151000.000000,155900.000000,158100.000000,167466.666667,176833.333333,183766.666667,190233.333333,184566.666667,184033.333333,186133.333333,...,244466.666667,254066.666667,259933.333333,260100.000000,250633.333333,263500.000000,279500.000000,276533.333333,271600.000000,269950.0
Wisconsin,Holland,151033.333333,150500.000000,153233.333333,155833.333333,161866.666667,165733.333333,168033.333333,167400.000000,165766.666667,161966.666667,...,201266.666667,201566.666667,201266.666667,206000.000000,207600.000000,212866.666667,217833.333333,221966.666667,228033.333333,234950.0

In [15]:
quarter=[]
p_rng=pd.period_range('2000q1','2016q3',freq='Q-JAN')
p_rng

PeriodIndex(['2000Q1', '2000Q2', '2000Q3', '2000Q4', '2001Q1', '2001Q2',
             '2001Q3', '2001Q4', '2002Q1', '2002Q2', '2002Q3', '2002Q4',
             '2003Q1', '2003Q2', '2003Q3', '2003Q4', '2004Q1', '2004Q2',
             '2004Q3', '2004Q4', '2005Q1', '2005Q2', '2005Q3', '2005Q4',
             '2006Q1', '2006Q2', '2006Q3', '2006Q4', '2007Q1', '2007Q2',
             '2007Q3', '2007Q4', '2008Q1', '2008Q2', '2008Q3', '2008Q4',
             '2009Q1', '2009Q2', '2009Q3', '2009Q4', '2010Q1', '2010Q2',
             '2010Q3', '2010Q4', '2011Q1', '2011Q2', '2011Q3', '2011Q4',
             '2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2',
             '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4',
             '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3'],
            dtype='period[Q-JAN]', freq='Q-JAN')

In [ ]:
#Q6
'''
First creates new data showing the decline or growth of housing prices
between the recession start and the recession bottom.
Then runs a ttest comparing the university town values to the non-university towns values, 
    
return whether the alternative hypothesis (that the two groups are the same)
Is true or not as well as the p-value of the confidence. 
    
Return the tuple (different, p, better) 
where different=True if the t-test is True at a p<0.01 (we reject the null hypothesis), or 
different=False if otherwise (we cannot reject the null hypothesis). 
The variable p should be equal to the exact p value returned from scipy.stats.ttest_ind(). The
value for better should be either "university town" or "non-university town"
depending on which has a lower mean price ratio (which is equivilent to a
reduced market loss).
'''

In [16]:
df3[['2008q3','2009q1','2009q2','2009q3','2009q4']]

,,2008q3,2009q1,2009q2,2009q3,2009q4
State,RegionName,,,,,
New York,New York,499766.666667,477733.333333,465833.333333,455933.333333,458366.666667
California,Los Angeles,469500.000000,426266.666667,413900.000000,406366.666667,404333.333333
Illinois,Chicago,232000.000000,223766.666667,219700.000000,214100.000000,211666.666667
Pennsylvania,Philadelphia,116933.333333,116200.000000,116166.666667,116733.333333,118566.666667
Arizona,Phoenix,193766.666667,177566.666667,168233.333333,155933.333333,143466.666667
...,...,...,...,...,...,...
Wisconsin,Town of Wrightstown,149633.333333,146566.666667,144833.333333,143800.000000,144233.333333
New York,Urbana,117900.000000,123200.000000,123433.333333,130400.000000,134600.000000
Wisconsin,New Denmark,175500.000000,177333.333333,178833.333333,180833.333333,180766.666667
California,Angels,296666.666667,287533.333333,282866.666667,272333.333333,253366.666667
Wisconsin,Holland,224200.000000,209333.333333,198200.000000,195200.000000,193166.666667

In [17]:
df4=df3[['2008q2','2008q3','2009q1','2009q2','2009q3','2009q4']]
df4=df4.sort_values('2008q3',ascending=True)
df4

,,2008q2,2008q3,2009q1,2009q2,2009q3,2009q4
State,RegionName,,,,,,
Oklahoma,Shattuck,38766.666667,36800.000000,37100.000000,38233.333333,39966.666667,42600.000000
Nebraska,Fairbury,38266.666667,38966.666667,40133.333333,42066.666667,42433.333333,43000.000000
Michigan,Muskegon Heights,41766.666667,39366.666667,37033.333333,35433.333333,34533.333333,33733.333333
Oklahoma,Lindsay,41866.666667,41000.000000,45400.000000,48266.666667,51166.666667,48400.000000
Pennsylvania,Homestead,38900.000000,41133.333333,43566.666667,42566.666667,41266.666667,39166.666667
...,...,...,...,...,...,...,...
Wisconsin,Maribel,NaN,NaN,NaN,NaN,NaN,NaN
Missouri,Garden City,NaN,NaN,NaN,NaN,NaN,NaN
South Carolina,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN
Tennessee,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN
Indiana,Marysville,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df4['PR']=(df4['2008q2']/df4['2009q2'])
df4.columns=df4.columns.to_series().astype(str)
df4

,,2008q2,2008q3,2009q1,2009q2,2009q3,2009q4,PR
State,RegionName,,,,,,,
Oklahoma,Shattuck,38766.666667,36800.000000,37100.000000,38233.333333,39966.666667,42600.000000,1.013949
Nebraska,Fairbury,38266.666667,38966.666667,40133.333333,42066.666667,42433.333333,43000.000000,0.909667
Michigan,Muskegon Heights,41766.666667,39366.666667,37033.333333,35433.333333,34533.333333,33733.333333,1.178739
Oklahoma,Lindsay,41866.666667,41000.000000,45400.000000,48266.666667,51166.666667,48400.000000,0.867403
Pennsylvania,Homestead,38900.000000,41133.333333,43566.666667,42566.666667,41266.666667,39166.666667,0.913861
...,...,...,...,...,...,...,...,...
Wisconsin,Maribel,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Missouri,Garden City,NaN,NaN,NaN,NaN,NaN,NaN,NaN
South Carolina,Wedgefield,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tennessee,Palmyra,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Indiana,Marysville,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df5=pd.merge(df4,df,left_index=True,right_on=['State','RegionName'],how='inner')
df5=df5.set_index(['State','RegionName'])
    
df6=pd.concat([df4,df5])
df6=df6.reset_index()
df6=df6.drop_duplicates(['State','RegionName','2008q2','2008q3','2009q1','2009q2','2009q3','2009q4'],keep=False)
    
df5['citytown']=True
df6['citytown']=False
    
universitytown=df5[df5['citytown']==True]
nonuniversitytown=df6[df6['citytown']==False]
    
t,p = ttest_ind(universitytown['PR'],nonuniversitytown['PR'],nan_policy='omit')
different= False 
if p<0.01:
     different=True
better='' 
if universitytown['PR'].mean() < nonuniversitytown['PR'].mean():
    better='university town'
else:
    better='non-university town'
    
(different,p,better)

(True, 0.002724063704753125, 'university town')