In [1]:
# Use this dictionary to map state names to two letter acronyms
states = {'OH': 'Ohio', 'KY': 'Kentucky', 'AS': 'American Samoa', 'NV': 'Nevada', 
          'WY': 'Wyoming', 'NA': 'National', 'AL': 'Alabama', 'MD': 'Maryland', 
          'AK': 'Alaska', 'UT': 'Utah', 'OR': 'Oregon', 
          'MT': 'Montana', 'IL': 'Illinois', 'TN': 'Tennessee', 
          'DC': 'District of Columbia', 'VT': 'Vermont', 
          'ID': 'Idaho', 'AR': 'Arkansas', 'ME': 'Maine', 
          'WA': 'Washington', 'HI': 'Hawaii', 'WI': 'Wisconsin', 
          'MI': 'Michigan', 'IN': 'Indiana', 'NJ': 'New Jersey', 
          'AZ': 'Arizona', 'GU': 'Guam', 'MS': 'Mississippi', 
          'PR': 'Puerto Rico', 'NC': 'North Carolina', 'TX': 'Texas', 
          'SD': 'South Dakota', 'MP': 'Northern Mariana Islands', 
          'IA': 'Iowa', 'MO': 'Missouri', 'CT': 'Connecticut', 'WV': 'West Virginia', 
          'SC': 'South Carolina', 'LA': 'Louisiana', 'KS': 'Kansas', 'NY': 'New York', 
          'NE': 'Nebraska', 'OK': 'Oklahoma', 'FL': 'Florida', 'CA': 'California', 
          'CO': 'Colorado', 'PA': 'Pennsylvania', 'DE': 'Delaware', 'NM': 'New Mexico', 'RI': 'Rhode Island', 'MN': 'Minnesota', 'VI': 'Virgin Islands', 'NH': 'New Hampshire', 'MA': 'Massachusetts', 'GA': 'Georgia', 'ND': 'North Dakota', 'VA': 'Virginia'}

In [2]:
import pandas as pd
import numpy as np
import re
from scipy.stats import ttest_ind

In [3]:
state=[]
region=[]
with open('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/university_towns.txt','r',encoding='utf-8') as unilist:

    a=unilist.readlines()
    r=re.compile(r".*\s\(.*\)")
    
    for i in a:
        i=re.sub(r"\[.*\]","",i)
        i=re.sub(r"\n","",i)
        match=r.match(i)
        if match:
            i=re.sub(r"\(.*\)","",i)
            region.append(i)
            state.append(temp)
        else:
            temp=i

            #print(state)
#print(region)
    
df=pd.DataFrame(columns=('State','Region'))
df['State']=state
df['Region']=region
df

         State          Region
0      Alabama         Auburn
1      Alabama       Florence
2      Alabama   Jacksonville
3      Alabama     Livingston
4      Alabama     Montevallo
..         ...             ...
506  Wisconsin    River Falls
507  Wisconsin  Stevens Point
508  Wisconsin       Waukesha
509  Wisconsin     Whitewater
510    Wyoming        Laramie

[511 rows x 2 columns]

In [4]:
#Q2. get_recession_start

In [5]:
start=pd.read_excel('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/gdplev.xls',skiprows=2)
start=start.drop(['Annual','Unnamed: 1','Unnamed: 2','Unnamed: 3','Unnamed: 7'],axis=1)
start.rename(columns={'Unnamed: 5':'GDP in billions of current dollars','Unnamed: 6':'GDP in billions of chained 2009 dollars'},inplace=True)
start=start.dropna(axis=0)
start=start.set_index('Quarterly')
start=start.loc['2000q1':]
start

,GDP in billions of current dollars,GDP in billions of chained 2009 dollars
Quarterly,,
2000q1,10031,12359.1
2000q2,10278.3,12592.5
2000q3,10357.4,12607.7
2000q4,10472.3,12679.3
2001q1,10508.1,12643.3
...,...,...
2015q2,17998.3,16374.2
2015q3,18141.9,16454.9
2015q4,18222.8,16490.7
2016q1,18281.6,16525
2016q2,18450.1,16583.1

In [6]:
l=[]
for j, row in start.iterrows():
 
    a=start.at[j,'GDP in billions of current dollars']
    l.append(a)
print(l)

[10031, 10278.3, 10357.4, 10472.3, 10508.1, 10638.4, 10639.5, 10701.3, 10834.4, 10934.8, 11037.1, 11103.8, 11230.1, 11370.7, 11625.1, 11816.8, 11988.4, 12181.4, 12367.7, 12562.2, 12813.7, 12974.1, 13205.4, 13381.6, 13648.9, 13799.8, 13908.5, 14066.4, 14233.2, 14422.3, 14569.7, 14685.3, 14668.4, 14813, 14843, 14549.9, 14383.9, 14340.4, 14384.1, 14566.5, 14681.1, 14888.6, 15057.7, 15230.2, 15238.4, 15460.9, 15587.1, 15785.3, 15973.9, 16121.9, 16227.9, 16297.3, 16475.4, 16541.4, 16749.3, 16999.9, 17025.2, 17285.6, 17569.4, 17692.2, 17783.6, 17998.3, 18141.9, 18222.8, 18281.6, 18450.1]

In [7]:
temp=0
count=0
for k in l:
    if k>temp:
        temp=k
        count=count+1        
    else:
        temp=k
        if l[count+1]>temp:
            continue
        else:
            count=count+1
            #print(l[count])
            break
            
start=start.reset_index()
print(start.loc[count,'Quarterly'])
#b=str(b)
#start=start.reset_index()
#start.loc[count,'Quarterly']

'''
#리스트3개에서 값 비교/ 롤리 pop()
1>2>3
1<2>3
else:
    pop(0)
'''

2008q4

'\n#리스트3개에서 값 비교/ 롤리 pop()\n1>2>3\n1<2>3\nelse:\n    pop(0)\n'

In [8]:
#Q3. get_recession_end()

In [9]:
temp=0
count=0
for k in l:
    if k>temp:
        temp=k
        count=count+1        
    else:
        temp=k
        if l[count+1]>temp:
            continue
        else:
            temp=k
            count=count+1
            if l[count+1]>temp:
                print(l[count])
                break

start=start.reset_index()
print(start.loc[count,'Quarterly'])

14340.4
2009q2

In [10]:
'''            
start=start.reset_index()
print(start.loc[count,'Quarterly'])
#b=str(b)
#start=start.reset_index()
#start.loc[count,'Quarterly']
'''
'''
#리스트3개에서 값 비교/ 롤리 pop()
1>2>3
1<2>3
else:
    pop(0)
'''

'\n#리스트3개에서 값 비교/ 롤리 pop()\n1>2>3\n1<2>3\nelse:\n    pop(0)\n'

In [11]:
#Q4. get_recession_bottom()

In [12]:
temp=0
count=0
reccessionlist=[]
for k in l:
    if k>temp:
        temp=k
        count=count+1        
    else:
        temp=k
        if l[count+1]>temp:
            continue
        else:
            count=count+1
            #print(count)
            reccessionlist.append(count)

print(reccessionlist)
largest=max(reccessionlist)

print(largest)

start=start.reset_index()
print(start.loc[largest,'Quarterly'])

[35, 36, 37]
37
2009q2

In [13]:
#Q5. convert_housing_data_to_quarters()