In [5]:
name = input("Enter file:")
if len(name) < 1 : name = "mbox-short.txt"
handle = open(name)

dic=dict()
bigcount=None
bigemail=None

for lines in handle:
    if not lines.startswith("From: "):
        continue
    line=lines.rstrip()
    emails=line.split()
    for email in emails:
        dic[email]=dic.get(email,0)+1
print(emails[1],dic[email])
    
  #  for emails,count in dic.items():
   #     if bigcount is None or count> bigcount:
    #        bigemail=emails
     #       bigcount=count
        
#print(bigemail,bigcount)

Enter file:mbox-short.txt
cwen@iupui.edu 5

In [298]:
#name = input("Enter file:")
#if len(name) < 1 : name = "mbox-short.txt"
name = "mbox-short.txt"
handle = open(name)
di=dict()

for time in handle:
    if not time.startswith("From "):
        continue
        
    times=time.split()
    ttime=times[5:6]
    
    if ttime == []:
        pass
    else:
        tttime=ttime[0][0:2]
        
    
    if tttime in di:
        di[tttime] += 1
    else:
        di[tttime] = 1

sdi = sorted(di.items())  

for i in sdi:
    print(i[0],i[1])

04 3
06 1
07 1
09 2
10 3
11 6
14 1
15 2
16 4
17 2
18 1
19 1

In [293]:
sdi

[('04', 3),
 ('06', 1),
 ('07', 1),
 ('09', 2),
 ('10', 3),
 ('11', 6),
 ('14', 1),
 ('15', 2),
 ('16', 4),
 ('17', 2),
 ('18', 1),
 ('19', 1)]

In [82]:
import pandas as pd
import numpy as np
import re

In [26]:
unilist1=open('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/university_towns.txt','r',encoding='utf-8')
unilist2=open('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/university_towns.txt','r',encoding='utf-8')

state=[]
RegionName=[]


line=unilist1.read()
lines=unilist2.read()

pattern=r".*\s\(.*\)"
matchedlist=re.findall(pattern,line)


line=re.sub(r"\[.*\]","",line)

pattern1=r"\[.*\]"
pattern2=r".*\s\(.*\)"
pattern3=r"\n"

    
    

lines=re.sub(r"\[.*\]","",lines)
lines=re.sub(r".*\s\(.*\)","",lines)
lines=re.sub(r"\n","",lines)



df=pd.DataFrame(columns={'State','RegionName'})
df['State']=matchedlist
df['RegionName']=lines
df

,RegionName,State
0,AlabamaAlaskaArizonaArkansasCalifornia and for...,Auburn (Auburn University)
1,AlabamaAlaskaArizonaArkansasCalifornia and for...,Florence (University of North Alabama)
2,AlabamaAlaskaArizonaArkansasCalifornia and for...,Jacksonville (Jacksonville State University)
3,AlabamaAlaskaArizonaArkansasCalifornia and for...,Livingston (University of West Alabama)
4,AlabamaAlaskaArizonaArkansasCalifornia and for...,Montevallo (University of Montevallo)
...,...,...
506,AlabamaAlaskaArizonaArkansasCalifornia and for...,River Falls (University of Wisconsin–River Falls)
507,AlabamaAlaskaArizonaArkansasCalifornia and for...,Stevens Point (University of Wisconsin–Stevens...
508,AlabamaAlaskaArizonaArkansasCalifornia and for...,Waukesha (Carroll University)
509,AlabamaAlaskaArizonaArkansasCalifornia and for...,Whitewater (University of Wisconsin–Whitewater)
510,AlabamaAlaskaArizonaArkansasCalifornia and for...,Laramie (University of Wyoming)

In [145]:
state=[]
region=[]
with open('C:\\Users\\syjy0\\OneDrive\\바탕 화면\\전북대_산공\\GITHUB\\Open-Course\\UMICH-Introduction to Data Science in Python/university_towns.txt','r',encoding='utf-8') as unilist:

    a=unilist.readlines()
    r=re.compile(r".*\s\(.*\)")
    
    for i in a:
        i=re.sub(r"\[.*\]","",i)
        i=re.sub(r"\n",'',i)
        match=r.match(i)
        if match:
            i=re.sub(r"\(.*\)","",i)
            region.append(i)
        else:
            state.append(i)
            

            
df=pd.DataFrame(columns=('State','Region'))





#print(state)
#print(region)
df['State']=state
#df['Region']=region
df
hj

NameError: name 'hj' is not defined